{% extends 'authenticate/base.html' %}
{% block content %}

<h1 class="text-center">Edit Profile</h1>
<hr/>

<form method="POST" action="{% url 'edit_profile' %}">
    {% csrf_token %}

    {% if form.errors %}
    <div class="alert alert-warning alert-dissmissable" role="alert">
        <button class="close" data-dismiss="alert">
            <small><sup>X</sup></small>
        </button>
        <p>Your Form Has Errors !!</p>
        {% for field in form %}
            {% if field.errors %}
                {{ field.errors}}
            {% endif %}
        {% endfor%}
    </div>
       
    {% endif %}
    {{ form.as_p}}
    <p><small><a href=" {% url 'change_password' %}">Click Here</a> to change the password</small></p>
    <input type="submit" value="Update" class="btn btn-success">
</form>


{% endblock %}